*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body{
  height:100%;
  width:100%;
}


.nav2{
  display:flex;
  justify-content: space-evenly;
  gap: 30px;
}

.light{
  display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
    padding: 10px 20px;
    background-color: aquamarine;

}

.dark{
  display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
    padding: 10px 20px;
    background-color: seagreen;
  
}